<div class="jumbotron text-center col-xs-12">
  <h1>{{hello}}</h1>
  <h3 ng-if="user">Welcome, {{user.username}}</h3>

  <ul class="col-md-12">
    <h2>Products:</h2>
    <br>
    <li class="thumbnail col-md-4 products" ng-repeat="product in products">
      <h4>Name:</h4>
      <h5>{{ product.name }}</h5>
      <h4>Brand:</h4>
      <h5>{{ product.brand }}</h5>
      <h4>Model:</h4>
      <h5>{{ product.model }}</h5>
      <h4>Price:</h4>
      <h5>${{ product.price }}</h5>
      <a class="btn btn-default" href ng-click="show(product)">More Info...</a><br><br>
      <ngcart-addtocart ng-if="user" id="{{ product.id }}" name="{{ product.name }}" price="{{ product.price }}" quantity="1" quantity-max="99" data="item">Add to Cart</ngcart-addtocart>
    </li>
  </ul>

  <script type="text/ng-template" id="modal.html">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><b>{{product.name}}</b></h4>
          </div>
          <div class="modal-body">
            <p><b>Brand:</b> {{product.brand}}</p>
            <p><b>Model:</b> {{product.model}}</p>
            <p><b>Sku:</b> {{product.sku}}</p>
            <p><b>Price:</b> ${{product.price}}</p>
            <p><b>Description:</b> {{product.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </script>

</div>
