<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="home">AngularJS e-Commerce App</a>
</div>
<ul class="nav navbar-nav">
  <li ng-hide="signedIn()"><a ui-sref="login">Login</a></li>
  <li ng-hide="signedIn()"><a ui-sref="register">Register</a></li>
  <li ng-show="signedIn()"><a ng-click="logout()" style="cursor: pointer;">Log Out</a></li>
</ul>

  <p class="navbar-text navbar-right admin"><span ng-show="signedIn() && user.isadmin"><a ui-sref="admin">Admin Portal</a></span></p>
  <p class="navbar-text navbar-right cartsummary"><span ng-show="signedIn()"><a ui-sref="cart"><ngcart-summary></ngcart-summary></a></span></p>
</nav>
